certifi==2020.6.20
cchardet==2.1.6
Click==7.0
dash==1.14.0
dash-core-components==1.10.2
dash-html-components==1.0.3
dash-renderer==1.6.0
dash-table==4.9.0
dask==2.11.0
decorator==4.4.1
Flask==1.1.1
Flask-Compress==1.5.0
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jupyter-core==4.6.1
MarkupSafe==1.1.1
nbformat==4.4.0
numpy==1.17.1
pandas==1.1.1
pytz==2019.3
six==1.12.0
traitlets==4.3.3
Werkzeug==1.0.0
plotly==4.6.0
